<div class="d-flex align-items-center justify-content-center vw-100 vh-100">
    <div class="d-flex align-items-center justify-content-center flex-column">
        <h1>Welcome <b><%= @user.username %></b></h1>
        <p>
            Here we would have some random data, if you even had any data
        </p>
    </div>
</div>
